<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="buk.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style media="screen">
      body{
        background : #D9EDFD;
      }
      #main-logo{
        font-family : 'Nanum Gothic', sans-serif;
        text-align : center;
        font-size : x-large;
      }
    </style>
  </head>
  <body>
    <div id ="main-logo">
      <img src ="img/buk.png" width ="70" heigth ="70">
      동네북24
    </div>
  </body>
</html>
