<!doctype html>
<html lang="en">

{%  load static %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua:400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static "semantic/semantic.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/buk.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.css" %}">
      {% block style_block %}
      {% endblock %}
      <style>
      #logo {
        margin: auto;

      }
      #logotext {

        font-family : 'Jua';
        font-size: 25px;
      }
      #drum {
        margin : 0px 0px 2px 0px;
      }
      #text {
        margin : 20px;
        font-family :'Nanum Gothic', sans-serif;

      }
      .footer {

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;

        background-color: #79CCED;
      }
      </style>


    <div class = "fixed-top">
    <nav class="navbar navbar-light" style="background-color: #D9EDFD;">
      <a href = "{% url 'dongnebug:newcomplain' %}"><img src = "{% static "img/newpost.png" %}" width="30" height="30"></a>
      <!-- Navbar content -->
    <div class = "fixed-top">
    <nav id = "upbar" class="navbar navbar-light">
      <a href="{% url 'dongnebug:homepage' %}"><img src = "{% static "img/back.png" %}" width="30" height="30"></a>
      <!-- Navbar content -->
      <div id = logo>
        <img id ="drum" src = "{% static "img/buk.png" %}" width="30" height="30">
        <a id ="logotext" class="navbar-brand" href="#" >동네북24</a>
      </div>
    </nav>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
    {% block body_block %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

