a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

#upbar{
  position: relative;
  z-index: 1;
  background-color: #D9EDFD
}

#logo {
  margin: auto;
}
#logotext {
  font-weight : bold;
  font-family : 'Nanum Gothic', sans-serif;
}
*html #text {
  height: 100%;
}
#text {
  margin : 40px;
  font-family :'Nanum Gothic', sans-serif;
}
#search{
  margin : 0px 0px 0px 10px;
  float : left;
}
#submit{
  float : right;
  margin: 0px 0px 20px 0px
}
#placeholder{
  float : left;
  margin : 0px 0px 5px 5px;
}
#content-title{
  font-size : large;
  font-weight : bold;
}
#content-userinfo{
  font-weight : bold;
}
#user{
  margin : 0px 5px 0px 0px;
}
#chat{
  margin : 0px 0px 0px 5px;
}

#share {
  float : right;
}

#date_time{
  color : #7D7D80;
  font-size: small;
  float : right;
  font-weight : normal;
  margin-top : 4px;

}

.fixed-bottom{
  padding: 10px 5px 0px 5px;
  text-align: center;
  background-color: #D9EDFD;
}


#comment-date_time{
  color : #7D7D80;
  font-size: x-small;
  padding-top : 0px;
}
#comment-userimage{
  margin-left:7px;
  margin-top :3px;
}
#comment-username{
  font-size : small;
  font-weight : bold;
}

#comment-content{
  margin-left:7px;
  font-size : small;
  margin-top:5px;
}
#comment-window{
  font-family : 'Nanum Gothic', sans-serif;
}
#conmment-content {
  display : table-cell;
  vertical-align : middle;
}


#homepage-contents {
  margin:20px;
  font-family :'Nanum Gothic', sans-serif;
}
#menu {
  float : right;
}
#menu_item{
  float : right;
}
#sidebar-up {
  background-color : #D9EDFD;
}
#menu_up{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color : #000000;
}
#menu_user{
  margin : auto;
}
#menu_username{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color : #000000;
  text-align: center;
}
#menu_edit{
  margin-left: 5px;
  margin-right: 8px;
}
#menu_contents{
  font-family : 'Nanum Gothic', sans-serif;
  color: #000000;
}
#content-reaction{
  margin : 5px 0px 0px 2px;
  color : #7D7D80;
  font-size: small;
}
#homepage-content_name {
  font-family : 'Nanum Gothic', sans-serif;
}
#index_content{
  color : #7D7D80;
}
#homepage-content-date_time{
  float : right;
  margin-right: 7px;
}

#search-contents {
  margin:20px;
  font-family :'Nanum Gothic', sans-serif;
}
#search_name{
  font-family :'Nanum Gothic', sans-serif;
  font-weight: bold;
  padding : 0px 0px 13px 0px;
}
#search_form{
  float: right;
}
#search_window{
  width : 100%;
  margin-top : 45px;
}
#search-content-reaction{
  margin : 0px 0px 0px 2px;
  color : #7D7D80;
  font-size: small;
}
#upload_kknocked_contents {
  margin:20px;
}
#doong {
  float : right;
  margin : 14px 0px 0px 0px;
}
#uploadbuk_knocked_name{
  font-family :'Nanum Gothic', sans-serif;
  font-weight : bold;
  padding : 0px 0px 22px 0px;
}



#main-contents{
  margin:20px;
  font-family :'Nanum Gothic', sans-serif;
}
#main-text{
  text-align : center;
  font-weight : bold;
  margin:20px;
  font-family :'Nanum Gothic', sans-serif;
}
#main-icon{
  text-align: center;
}

#main-search{
  display : inline-block;
  text-align: center;
  font-weight : bold;
  border-right-style: solid;
  border-width: thin;
  border-color: #dadbdb;
  padding-right: 25px;
  padding-left: 25px;
  font-size: small;
}
#main-gpsbuk{
  display : inline-block;
  text-align: center;
    font-weight : bold;
  border-right-style: solid;
  border-width: thin;
  border-color: #dadbdb;
  padding-right: 20px;
  font-size: small;
}
#main-newbuk{
  font-weight : bold;
    font-size: small;
  display : inline-block;
  text-align: center;
  padding-left: 20px;
}
