{% extends 'base.html' %}
{% load static %}
{% block head_block %}

    <title>동네북24</title>
    <style media="screen">
      body{
        background : #D9EDFD;
        font-family :'Nanum Gothic', sans-serif;
        margin : 20px;
      }
      #certificate-logo{
        text-align : center;
        font-family :'Nanum Gothic', sans-serif;
        font-size : x-large;
        font-weight : bold;
        padding-top : 100px;
        margin-bottom : 60px;
      }
      #loginbutton{
        text-align : center;
      }
      #probulpeon{
        text-align : center;
        font-family :'Nanum Gothic', sans-serif;
        font-size : small;
        padding-top : 60px;
      }
    </style>

{% endblock %}


{% block body_block %}
    <div id ="certificate-logo">
      <img src ="{% static 'img/buk.png' %}" width ="100" heigth ="100"><br/>
      동네북24
    </div>
      <br/>
      <br/>
    <form method="post">
    {% csrf_token %}
      <div class="ui form">
        <div class="field">
          <div class="twelve wide field">

              {{ form.token }}
          <input type="submit" width ="80%">
          </div>
        </div>
      </div>
    </form>

    <div id ="probulpeon">
      @probulpyeonreo
    </div>

{% endblock %}