{% extends 'base.html' %}
{% load static %}
{% block head_block %}

    <title>동네북24</title>
    <style media="screen">
      body{
        background : #D9EDFD;
        font-family :'Nanum Gothic', sans-serif;
        margin : 20px;
      }
      #certificate-logo{
        text-align : center;
        font-family :'Nanum Gothic', sans-serif;
        font-size : x-large;
        font-weight : bold;
        padding-top : 100px;
        margin-bottom : 60px;
      }
      #loginbutton{
        text-align : center;
      }
      #probulpeon{
        text-align : center;
        font-family :'Nanum Gothic', sans-serif;
        font-size : small;
        padding-top : 60px;
      }
    </style>

{% endblock %}


{% block body_block %}
    <div id ="certificate-logo">
      <img src ="{% static 'img/buk.png' %}" width ="100" heigth ="100"><br/>
      동네북24
    </div>
      <br/>
      <br/>
    <form>
      <div class="ui form">
        <div class="field">
          <div class="twelve wide field">
          <label>왼쪽 하단의 토큰 값을 입력해주세요.</label>
          <input type="text" width ="80%"><button class="compact ui button" style="padding-left:8px; padding-right:8px;">
          확인
          </button>
          </div>
        </div>
      </div>
    </form>

    <br/>
    <form>
      <div class="ui form">
        <div class="field">

          <div class="twelve wide field">
          <label>인증 키를 입력해주세요.</label>
          <input type="text" width ="80%">
          </div>

          <button class="compact ui button" style="padding-left:8px; padding-right:8px;">
          확인
          </button>
        </div>
      </div>
    </form>
    <div id ="probulpeon">
      @probulpyeonreo
    </div>

{% endblock %}