{% extends 'base.html' %}
{% load static %}
{% block head_block %}

    <title>content</title>
    <script type="text/javascript">
        var state = 0;

        function ChangeImage() {
            if (state == 0) {
                document.img1.src = "img/buk.png"
                state = 1;
            } else {
                document.img1.src = "img/drum1.png"
                state = 0;
            }
        }
    </script>

{% endblock %}
{% block body_block %}
    <div class="fixed-top">
        <nav id="upbar" class="navbar navbar-light" style="background-color: #D9EDFD;">
            <a href="{% url 'dongnebug:index' %}"><img src="{% static 'img/back.png' %}" width="30" height="30"></a>
            <!-- Navbar content -->
            <div id=logo>
                <img src="{% static 'img/buk.png' %}" width="30" height="30">
                <a id="logotext" class="navbar-brand">새 민원</a>
            </div>
            {# TODO : submit 버튼을 어떻게 이거로 연관 시켜보기  #}
            <a><img src="{% static 'img/send.png' %}" width="30" height="30"></a>
        </nav>
    </div>


    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="text">
            </br></br></br>
            <label id='logotext'>글 제목</label>
            </br>
            {{ form.title }}
            </br></br>

            <div>
                <label id='logotext'>현 위치</label>
                </br>
                <div class="form-row">
                    <div class="col">
                        {{ form.latitude }}{{ form.longitude }}
                    </div>
                    {# TODO: 지도에서 검색하거나, 마크함으로써 위치를 정하면,  위도, 경도가 자동으로 설정된 위치로 세팅된다.#}
                    <div class="col">
                        <img id=search src="{% static 'img/search3.png' %}" width="25" height="25" >
                        <img id=placeholder src="{% static "img/placeholder2.png" %}" width="25" height="25" >
                    </div>
                </div>
                </br>
                <!-- 지도 -->
                <p align="middle">
                    <iframe src="https://map.kakao.com" width="100%" height="300"></iframe>
                </p>
            </div>
            </br>

            <label id='logotext'>글 내용</label>
            </br>
            <div class="input-group">
                {{ form.content }}
            </div>
            </br>

            <label id='logotext'>첨부파일</label>
            </br>
            <div class="input-group mb-3">
                <div class="custom-file">
                    {{ form.file }}
{#                                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">#}
{#                                            파일을 첨부하세요.</label>#}
                </div>
                <div class="input-group-append">
                </div>
            </div>
            </br>
        </div>
                    <input type="submit"/>
    </form>

{% endblock %}