{% extends 'base.html' %}
{% load static %}
{% block head_block %}

    <title>content</title>

{% endblock %}
{% block body_block %}
    <!-- Edit by sumin -->
    <style>
        #map {
            height: 300px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fixed-top">
            <nav id="upbar" class="navbar navbar-light" style="background-color: #D9EDFD;">
                <a href="{% url 'dongnebug:index' %}"><img src="{% static 'img/back.png' %}" width="30" height="30"></a>
                <!-- Navbar content -->
                <div id=logo>
                    <img src="{% static 'img/newbug_color.png' %}" width="30" height="30" style="margin-bottom:8px;">
                    <a id="logotext" class="navbar-brand">북 추가</a>
                </div>
                {# TODO : submit 버튼을 어떻게 이거로 연관 시켜보기  #}
                <a>
                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;"><img
                            src="{% static 'img/newbug_send.png' %}" width="30" height="30"></button>
                </a>
            </nav>
        </div>

        <div class="text" style="margin :20px; padding-top : 40px;">

            <div id ="newbug_title" style="margin-bottom:20px;">
              <label id="newbug_text">글 제목</label>

              {{ form.title }}

            </div>
            <div id ="newbug_gps">
                <label id='newbug_text'>현 위치</label>

                <div class="form-row">
                  <div class="col">
                        {{ form.latitude }}{{ form.longitude }}
                  </div>
                    {# 새로 고침하면 유저의 현재 위치로 자동 세팅 #}


              -
                </div>
                <!-- 지도 -->
                <p align="middle">
                <div id="map"></div>
                </p>
            </div>

            <br/>
            <div id ="newbug_content" style ="margin-bottom: 20px;">
              <label id='newbug_text'>글 내용</label>

              <div class="input-group">
                  {{ form.content }}
              </div>
            </div>

            <div id ="newbug_title">
            <label id='newbug_text'>첨부파일</label>
              <div class="input-group mb-3">
                  <div class="custom-file">
                      {{ form.file }}
                      {#                                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">#}
                      {#                                            파일을 첨부하세요.</label>#}
                  </div>
                  <div class="input-group-append">
                  </div>
              </div>

            </div>

        </div>
    </form>
    <!-- Edit by sumin -->
    <script>
        var map;
        var markers = [];

        function initMap() {
            //사용자의 현재위치로 값을 바꿔주세요
            var initlocation = {lat: {{ user_location.latitude }}, lng: {{ user_location.longitude }}};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: initlocation,
            });
            // This event listener will call addMarker() when the map is clicked.
            map.addListener('click', function (event) {
                addMarker(event.latLng);
            });
            // Adds a marker at the center of the map.
            addMarker(initlocation);

        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            deleteMarkers();
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var lat = marker.getPosition().lat();
            var lng = marker.getPosition().lng();
            markers.push(marker);
            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lng;
            console.log('lat :', lat, 'lng :', lng);
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function clearMarkers() {
            setMapOnAll(null);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA43UhrvuE1LtRYbHYwbfoBJ3UPLLPbGc&callback=initMap">
    </script>

{% endblock %}
