{% include 'base.html' %}
{% load static %}
{% block head_block %}
    <title>content</title>

{% endblock %}

{% block body_block %}
    <div class="fixed-top">
        <nav class="navbar navbar-light" style="background-color: #D9EDFD;">
            <!-- Navbar content -->
            <a href="{% url 'dongnebug:complain_list' %}"><img src="{% static 'img/back.png' %}" width="30" height="30"></a>
            <div id=mainpage-logo style="margin : auto; ">
                <img src="{% static 'img/buk.png' %}" width="30" height="30">
                <a id="logotext" class="navbar-brand" href="{% url 'dongnebug:index' %}">동네북24</a>
            </div>
            <img id="menu" src="{% static 'img/menu.png' %}" width="30" height="30">

        </nav>
    </div>
    <!-- side bar -->
    <div class="ui right sidebar inverted vertical menu">
        <a id="sidebar-up" class="item">
            <div id="menu_up">MENU</div>
        </a>
        <a class="item"><br/></a>
        <a class="item">
            <img id="menu_user" src="{% static 'img/user.png' %}" width="60" height="80">
        </a>
        <div id="menu_username">{{ user.username }}<a href="{% url 'dongnebug:update_profile' user.pk %}"><img
                id="menu_edit"
                src="{% static 'img/edit.png' %}"
                width="15" height="15"></a>
        </div>
        <a class="item">
            <hr>
        </a>
        <a class="item" href="{% url 'dongnebug:search' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #566573;"><img id="menu_edit"
                                                                                                       src="{% static 'img/search.png' %}"
                                                                                                       width="20"
                                                                                                       height="20">북 검색
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:complain_list' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #566573;"><img id="menu_edit"
                                                                                                       src="{% static 'img/gpsbukcolor.png' %}"
                                                                                                       width="20"
                                                                                                       height="20">주변 북
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:uploadedbuk' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #566573;"><img id="menu_edit"
                                                                                                       src="{% static 'img/buk.png' %}"
                                                                                                       width="20"
                                                                                                       height="20">올린 북
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:knockedbuk' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #566573;"><img id="menu_edit"
                                                                                                       src="{% static 'img/bukk.png' %}"
                                                                                                       width="25"
                                                                                                       height="23">두드린 북
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:logout' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #566573;"><img id="menu_edit"
                                                                                                       src="{% static 'img/logout.png' %}"
                                                                                                       width="20"
                                                                                                       height="20">로그아웃
            </div>
        </a>
    </div>
    <div style="margin : 20px;">
        <!-- 제목 받아오기 -->
        <div id="content-title">{{ complain.title }}</div>
        <hr>

        <!-- 사진이나 영상 받아오기 -->
        <div id="content-img"><img src="{{ complain.file.url }}" width="100%" height="300"></div>
        <hr>

        <!-- 사람 아이콘 받아오기 -->
        <div id="content-userinfo">
            <img id="user" src="{% static 'img/user.png' %}" width="35" height="35">
            <span id="date_time">
        {{ complain.pub_date }}
        </span>
            <!-- 사람 닉네임 받아오기 -->
            <span id="content-username">{{ complain.author }}</span>
        </div>
        <br/>
        <!-- 글 내용 받아오기 -->

        <div id="content-text">
            {{ complain.content }}
        </div>


        <br/>
        <br/>
        <!-- 북 아이콘 & onclick() = 다른 이미지로 대체 + 북 친 갯수 plus 1-->
        <div id="reaction">

            {% if sympathy %}
                <img src="{% static 'img/buk.png' %}" id="sympathy" name="{{ complain.id }}" width="23" height="23"
                />
            {% else %}
                <img src="{% static 'img/drum1.png' %}" id="sympathy" name="{{ complain.id }}" width="23" height="23"
                />
            {% endif %}

            <p id="count-{{ complain.id }}">{{ complain.sympathy_count }}</p>
            <img id="count-{{ complain.id }}" src="{% static 'img/comment.png' %}" width="20" height="20">
            <img id="count-{{ complain.id }}" src="{% static 'img/share.png' %}" width="20" heigth="20">
        </div>
        <hr>
        <script type="text/javascript">

            var state = 0;
            if (document.getElementById("sympathy").src == "http://127.0.0.1:8000/static/img/buk.png") {
                state = 1
            } else {
                state = 0
            }

            $("#sympathy").click(function () {
                var pk = $(this).attr('name')
                $.ajax({
                    type: "POST",
                    url: "{% url 'dongnebug:complain_sympathy' complain.id %}",
                    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    datatype: "json",
                    success: function (response) {
                        $("#count-" + pk).html(response.sympathy_count)
                        if (state == 1) {
                            document.getElementById("sympathy").src = "{% static 'img/drum1.png' %}"
                            state = 0
                        } else {
                            document.getElementById("sympathy").src = "{% static 'img/buk.png' %}"
                            state = 1
                        }

                    },
                    error: function (request, status, error) {
                        window.location.replace('')
                    }
                })
            })
        </script>

        {#        <script type="text/javascript">#}
        {#        var state = 0;#}
        {##}
        {#        function ChangeImage() {#}
        {##}
        {#        }#}
        {#    </script>#}

        <!-- 댓글 보여주기 -->


        <div id="contents">
            {% for comment in comments %}
                <div class="media">
                    <!-- 이미지 삽입 -->
                    <img id="comment-userimage" src="{% static 'img/user.png' %}" class="mr-3" width="30" height="30">
                    <div id="conmment-username">
                        {{ comment.user }}
                        <div id="comment-date_time">{{ comment.pub_date }}</div>
                    </div>
                </div>
                <div id="comment-content">{{ comment.content }}</div>
                <hr>
            {% endfor %}
            <div id="contents-1">

            </div>
        </div>
    </div>
    <!-- 댓글 달기 기능 -->
    <div id="comment-window" class="fixed-bottom">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="댓글을 입력하세요..." aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">등록</button>
            </div>
        </div>
    </div>
    <form action="{% url "dongnebug:complain_detail" pk=complain.pk %}" method="post">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Write your comments">
        <input type="submit" value="Comment" value="Write">
    </form>
    </div>
    <script>
        $('#menu').click(function () {
            $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
        })
    </script>

{% endblock %}
