{% include 'base.html' %}
{% load static %}
{% block head_block %}
    <title>content</title>

{% endblock %}

{% block body_block %}
    <div class="fixed-top">
        <nav class="navbar navbar-light" style="background-color: #D9EDFD;">
            <!-- Navbar content -->
            <a href="{% url 'dongnebug:complain_list' %}"><img src="{% static 'img/back.png' %}" width="30" height="30"></a>
            <div id=mainpage-logo style="margin : auto; ">
                <img src="{% static 'img/bug.png' %}" width="30" height="30">
                <a id="logotext" class="navbar-brand" href="{% url 'dongnebug:index' %}">동네북24</a>
            </div>
            <img id="menu" src="{% static 'img/menu.png' %}" width="30" height="30">

        </nav>
    </div>
    <!-- side bar -->
        <div class="ui right sidebar inverted vertical menu">
        <a id="sidebar-up" class="item">
            <div id="menu_up">MENU</div>
        </a>
        <a class="item"><br/></a>
        <a class="item">
            <img id="menu_user"  src="{% static 'img/user.png' %}" width="60" height="80">
        </a>
        <div id="menu_username">{{ user.username }}<a href="{% url 'dongnebug:update_profile' user.pk %}"><img
                id="profile_edit_button"
                src="{% static 'img/edit.png' %}"
                width="15" height="15"></a>
        </div>
        <a class="item">
            <hr>
        </a>
        <a class="item" href="{% url 'dongnebug:search' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #292929;">
              <img id="menu_edit" src="{% static 'img/sidebar_search.png' %}" width="20" height="20">
              <div id ="menu_name" style ="float: right; margin-right : 145px; margin-top :4px;">북 검색</div>
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:complain_list' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #292929;">
              <img id="menu_edit" src="{% static 'img/gpsbug_color.png' %}" width="22" height="22">
              <div id ="menu_name" style ="float: right; margin-right : 145px; margin-top :7px;">주변 북</div>
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:uploadedbuk' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #292929;">
              <img id="menu_edit" src="{% static 'img/bug.png' %}" width="20" height="20">
              <div id ="menu_name" style ="float: right; margin-right : 145px; margin-top :5px">올린 북</div>
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:knockedbuk' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #292929;">
              <img id="menu_edit" src="{% static 'img/knockedbug_color.png' %}" width="23" height="23">
              <div id ="menu_name" style ="float: right; margin-right : 133px; margin-top :7px">두드린 북</div>
            </div>
        </a>
        <a class="item" href="{% url 'dongnebug:logout' %}">
            <div id="menu_contents" style="font-weight : bold; font-size: small;color : #292929;">
              <img id="menu_edit" src="{% static 'img/logout.png' %}" width="20" height="20">
              <div id ="menu_name" style ="float: right; margin-right : 136px; margin-top :3px">로그아웃</div>
            </div>
        </a>
    </div>
    <div id = "content-content">
        <!-- 제목 받아오기 -->
        <div id="content-title">{{ complain.title }}</div>
        <hr>

        <!-- 사진이나 영상 받아오기 -->
        <div id="content-img"><img class ="rounded" src="{{ complain.file.url }}" width="100%" height="300"></div>
        <hr>

        <!-- 사람 아이콘 받아오기 -->
        <div id="content-userinfo">
            <img id="user" src="{% static 'img/user.png' %}" width="35" height="35">
            <span id="date_time">
        {{ complain.pub_date }}
        </span>
            <!-- 사람 닉네임 받아오기 -->
            <span id="content-username">{{ complain.author }}</span>
        </div>
        <br/>
        <!-- 글 내용 받아오기 -->

        <div id="content-text">
            {{ complain.content }}
        </div>


        <br/>
        <br/>
        <!-- 북 아이콘 & onclick() = 다른 이미지로 대체 + 북 친 갯수 plus 1-->
        <div id="reaction">

            {% if sympathy %}
                <img src="{% static 'img/on_bug.png' %}" id="sympathy" name="{{ complain.id }}" width="23" height="23"
                />
            {% else %}
                <img src="{% static 'img/off_bug.png' %}" id="sympathy" name="{{ complain.id }}" width="23" height="23"
                />
            {% endif %}

            <span id="count-{{ complain.id }}">{{ complain.sympathy_count }}</span>
        <button class="share" type="button" onclick=getURL() style="border: none; background-color: none;background-color: transparent;
    background-image: none;
    border-color: transparent;"><img id="count-{{ complain.id }}" src="{% static 'img/share.png' %}" width="20" heigth="20"></button>

        </div>
        <hr>
        <script type="text/javascript">

            var state = 0;
            if (document.getElementById("sympathy").src == "http://127.0.0.1:8000/static/img/buk.png") {
                state = 1
            } else {
                state = 0
            }

            $("#sympathy").click(function () {
                var pk = $(this).attr('name')
                $.ajax({
                    type: "POST",
                    url: "{% url 'dongnebug:complain_sympathy' pk=request.user.id %}",
                    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    datatype: "json",
                    success: function (response) {
                        $("#count-" + pk).html(response.sympathy_count)
                        if (state == 1) {
                            document.getElementById("sympathy").src = "{% static 'img/off_bug.png' %}"
                            state = 0
                        } else {
                            document.getElementById("sympathy").src = "{% static 'img/on_bug.png' %}"
                            state = 1
                        }

                    },
                    error: function (request, status, error) {
                        window.location.replace('')
                    }
                })
            })
        </script>


    </div>
    <script>
        $('#menu').click(function () {
            $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
        })
    </script>
    <script>
        function getURL() {
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = location.href;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            alert('클립보드에 복사되었습니다.')
        };
    </script>

{% endblock %}
