{% include "base.html" %}
{% load static %}
{% block head_block %}

    <title>search</title>

{% endblock %}

{% block body_block %}
    <div class="text">
    <!-- 내용 입력 -->
    <div id = "homepage-contents">
      <hr>
        {%  for complain in complains %}
            <a href ="{{ complain.get_absolute_url }}">
            <!-- 누르면 해당 민원의 detailview로 넘어가게 -->
            <div id = "contents-1">
              <div class="media">
                <!-- 이미지 삽입 -->
                <img src="{% static 'img/나무.png' %}" class="mr-3" width ="70" height = "70">
                <div class="media-body">
                  <!-- 글 제목 -->
                  <h4 id = "homepage-content_name">{{ complain.title }}</h4>
                  <!-- 본문 내용-->
                  <span id = "index_content">{{ complain.content }}</span>
                </div>
              </div>
              <!-- 공감 부분 보이기  -->
              <div id ="content-reaction">
                <img src ="{% static 'img/buk.png' %}" width = "17" height = "17">
                {{ complain.num_of_sympathies }}
                <img src = "{% static 'img/comment.png' %}" width = "15" height ="15">
                {{ complain.num_of_comments }}
                <div id ="homepage-content-date_time">{{ complain.pub_date }}</div>
              </div>
            </div>
          </a>
          <hr>
        {% endfor %}

    </div>
    </div>

{% endblock %}