{% extends 'base.html' %}
{%  load static %}
{% block style_block %}

    <title>동네북24</title>
    <style media="screen">
      a:link { color: black; text-decoration: none;}
      a:visited { color: black; text-decoration: none;}
      a:hover { color: black; text-decoration: none;}

      #logo {
        margin: auto;
      }
      #logotext {
        font-weight : bold;
        font-family : 'Nanum Gothic', sans-serif;
      }
      #text {
        margin : 20px;
        font-family :'Nanum Gothic', sans-serif;
      }
      #footer {
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        background-color: #D9EDFD;
      }
      #contents {
        margin:20px;
      }
      #menu {
        float : right;
        margin: 0px 15px 0px 0px;
      }
    </style>

{% endblock %}

 {% block body_block %}

    <!-- 내용 입력 -->
    <div id = "contents">
        {%  %}
      <a href = "content.html">
      <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
          <tr >
            <td width = "80"><img src = "{% static "img/나무.png" %}" width="75" height="75"></td>
            <td rowspan="2" id = "comment-content">글제목, 내용</td>
          </tr>
          <tr >
            <td  id = "comment-userid" >
              <div id = "reaction">
                <img  src = "{% static "img/drum2.png" %}" name = "img1" width="20" height="20" onclick ="ChangeImage()">
                30
                <img id = "chat" src = "{% static "img/chat.png" %}" width = "15" height="15">
                3
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </a>
      <hr/>
      <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
          <tr >

            <td width = "80"><img src = "{% static "img/나무.png" %}" width="75" height="75"></td>
            <td rowspan="2" id = "comment-content">글제목, 내용</td>
          </tr>
          <tr >
            <td  id = "comment-userid" >
              <div id = "reaction">
                <img  src = "{% static "img/drum2.png" %}" name = "img1" width="20" height="20" onclick ="ChangeImage()">
                30
                <img id = "chat" src = "{% static "img/chat.png" %}" width = "15" height="15">
                3
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr/>
      <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
          <tr >

            <td width = "80"><img src = "{% static "img/나무.png" %}" width="75" height="75"></td>
            <td rowspan="2" id = "comment-content">글제목, 내용</td>
          </tr>
          <tr >
            <td  id = "comment-userid" >
              <div id = "reaction">
                <img  src = "{% static "img/drum2.png" %}" name = "img1" width="20" height="20" onclick ="ChangeImage()">
                30
                <img id = "chat" src = "{% static "img/chat.png" %}" width = "15" height="15">
                3
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr/>
      <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
          <tr >

            <td width = "80"><img src = "{% static "img/나무.png" %}" width="75" height="75"></td>
            <td rowspan="2" id = "comment-content">글제목, 내용</td>
          </tr>
          <tr >
            <td  id = "comment-userid" >
              <div id = "reaction">
                <img  src = "{% static "img/drum2.png" %}" name = "img1" width="20" height="20" onclick ="ChangeImage()">
                30
                <img id = "chat" src = "{% static "img/chat.png" %}" width = "15" height="15">
                3
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <hr>
    </div>

    <div id =footer class = "fixed-bottom">
      <img id = "menu" src = "{% static "img/woman.png" %}" width = "30" height = "30">
    </div>

    <!-- Optional JavaScript -->
    <script>
      $('#menu').click(function(){
          $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
      })
    </script>
 {% endblock %}
